body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width to your preference */
}
h2 {
    text-align: center;
    color: #1E347D; /* Dark blue color */
    font-size: 24px; /* Increase font size */
    margin-bottom: 20px;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #1E347D; /* Dark blue color */
    font-weight: bold;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E347D; /* Dark blue color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}
button:hover {
    background-color: #17296e; /* Darker shade on hover */
}
