body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

a {
    color: #1E347D;
    text-decoration: none;
}

a:hover {
    color: #17296e;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E347D;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #17296e;
}
